<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yoda Speak API tester</title>

    <!-- using Bootstrap for styling -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">

</head>
<body>

<div class="container" id="content">
    <div class="row">

        <div class="col-sm-6">
            <h1>English to Yoda Speak</h1>
        </div>

        <div class="col-sm-6">

        </div>

    </div>
</div>


<!-- scripts, jQuery for AJAX API calls-->
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
</script>
<!-- Bootstrap's js script -->
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>